/* Semantic elements */
body {
    background:url(../img/bg.png);
}
header, footer {
    text-align: center;
}
header {
    margin-bottom: 5px;
}
footer {
    margin-top: 5px;
}
section {
    width: 1200px;
    height: 600px;
    margin: 0 auto;
    padding: 10px;
}
/* Content */
.pgContent, .pgSidebar {
    height: 600px;
    overflow: hidden;
    padding: 3px;
}
.pgBordered {
    border: groove #778899 1px;
}
